{% extends 'main/base.html' %}
{% load static %}
{% block content%}
			<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
				<div class="container_12">
					<div class="grid_12">
						<h3>Наши услуги</h3>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="{% static 'main/images/page4_img1.jpg' %}" alt="">
								<div class="text1 color2">
									<a href="#">Такси</a>
								</div>
								Вы можете воспользоваться услугой "Такси". У нас всегда чистые и комфортабельные автомобили. Вежливые водители к вашим услугам.
								<br>
<!--								<a href="#" class="btn">Read More</a>-->
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="{% static 'main/images/page4_img2.jpg' %}" alt="">
								<div class="text1 color2">
									<a href="#">Прокат лимузинов </a>
								</div>
								Только в нашем парке большой выбор лимузинов на разные случаи жизни. Также поможем выбрать идеальный маршрут под ваше мероприятие.
								<br>
<!--								<a href="#" class="btn">Read More</a>-->
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="{% static 'main/images/page4_img3.jpg' %}" alt="">
								<div class="text1 color2">
									<a href="#">Аренда авто без водителя </a>
								</div>
								Для любителей ездить за рулем так же есть услуга проката авто. Путешествуйте без хлопот по стране на новых и надежных автомобилях.
								<br>
<!--								<a href="#" class="btn">Read More</a>-->
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="{% static 'main/images/page4_img7.jpg' %}" alt="">
								<div class="text1 color2">
									<a href="#">Минивен </a>
								</div>
								Для большой компании мы можем предложить минивены от 6 до 9 мест. А так же микроавтобусы и автобусы до 60 мест.
								<br>
								<a href="#" class="btn">Read More</a>
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="{% static 'main/images/page4_img8.jpg' %}" alt="">
								<div class="text1 color2">
									<a href="#">Бизнес</a>
								</div>
								Для ценителей комфорта и деловвых встреч предлагаем авто бизнес класса как с водителем и без.
								<br>
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="{% static 'main/images/page4_img9.jpg' %}" alt="">
								<div class="text1 color2">
									<a href="#">Для фотосессий </a>
								</div>
								В нашем парке вы можете выбрать эксклюзивное авто для ваших фотосессий. В наличии спорт-кары, ретро автомобили на любой вкус.
								<br>
<!--								<a href="#" class="btn">Read More</a>-->
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
{% endblock  %}