{% extends 'main/base.html' %}
{% load static %}
{% block content%}
			<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
				<div class="container_12">
					<div class="grid_7">
						<h3>Несколько слов о нас:</h3>
						<img src="{% static 'main/images/R.png' %}" alt="" class="img_inner fleft" width="350" height="300">
						<div class="extra_wrapper">
							<div class="text1 color2">
								<strong>У нас вы найдете автомобили в аренду для любых целей и бюджета:</strong>
							</div>
							<p>
								<br>• Бюджетные автомобили для поездок по городу и путешествий по стране;
								<br>• Автомобили для семейных поездок;
								<br>• Автомобили бизнес-класса для официальных мероприятий;
								<br>• Внедорожники для любителей экстремального бездорожья;
							</p>
							<p>
							<strong>Наша компания предоставляет широкий спектр услуг:</strong> <br>
							<br>• Аренда автомобиля без водителя на территории Кыргызстана;
							<br>• Аренда автомобиля с водителем;
							<br>• Организация джип-туров по красотам Кыргызстана;
							</p>
						</div>
						<div class="clear cl1"></div>
						<p>
							<strong>Чем мы отличаемся от других?</strong><br>
							Наша миссия-сделать прокат автомобилей комфортным, как для бизнеса, так и для семьи. Упростите жизнь клиентам, пользующимся нашим сервисом. Для этого мы руководствуемся такими принципами, как честность, прозрачность и доверие.
						<p>
						<strong>Наша главная ценность-надежность и безопасность!</strong><br>
						<strong>Именно поэтому многие люди уже оценили качество нашего сервиса. <br>
							<br>Наш парк получает самые высокие рекомендации от наших Клиентов, которые мотивируют нас продолжать улучшать качество наших услуг.
							<br>
							<br>Мы благодарны всем за поддержку и признательность!</strong>
						</p>





					</div>
					<div class="grid_4 prefix_1">
						<h3>Пчему выбирают нас</h3>
						<ul class="list li">
							<li class="list_count">1</li>
							<li class="extra_wrapper">
								<strong>Наши клиенты-это наши боссы, и мы работаем только на них. Вы почувствуете максимальный комфорт при пользовании услугами нашей компании.</strong>
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">2</li>
							<li class="extra_wrapper">
								<strong>Мы передаем автомобили исключительно с полным баком. Они всегда прибывают к клиенту чистыми. Наши сотрудники стараются предоставить автомобиль как можно быстрее.</strong>
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">3</li>
							<li class="extra_wrapper">
								<strong> Каждое транспортное средство имеет страховку КАСКО и ОСАГО.</strong>
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">4</li>
							<li class="extra_wrapper">
								<strong> У нас вы не найдете никаких скрытых платежей. Мы работаем честно!</strong>
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">5</li>
							<li class="extra_wrapper">
								<strong> Техническая поддержка доступна круглосуточно. Вы всегда можете связаться с нами по телефону в случае возникновения проблем с сервисом или автомобилем.</strong>
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">6</li>
							<li class="extra_wrapper">
								<strong> Если автомобиль сломается, мы быстро предоставим вам новый автомобиль.</strong>
							</li>
						</ul>
					</div>
					<div class="clear"></div>
					<div class="grid_12">
						<h3 class="h3__ind1">Testimonials</h3>
					</div>
					<div class="grid_4">
						<blockquote class="bq1">
							<p><i>Lorem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras facilisis, nulla vel viver auctor, leo magna... </i></p>
							<div class="color2">Tim Barkley</div>
						</blockquote>
					</div>
					<div class="grid_4">
						<blockquote class="bq1">
							<p><i>Dorem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras facilisis, nulla vel viver auctor, leo magwe... </i></p>
							<div class="color2">Linda Grey</div>
						</blockquote>
					</div>
					<div class="grid_4">
						<blockquote class="bq1">
							<p><i>Gorem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras facilisis, nulla vel viver auctoro magndales...</i></p>
							<div class="color2">Ann Pool</div>
						</blockquote>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>

{% endblock %}

